name: sonarcloud
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  sonarcloud:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
    steps:
      - uses: actions/setup-node@v4
        with:
          node-version: '22.2.0'
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install dependencies
        run: yarn install
      - name: Test E2E
        run: yarn test:e2e
      - name: Test and coverage
        run: yarn test:cov
      - name: SonarCloud Scan
        uses: sonarsource/sonarcloud-github-action@master
